**/.idea/
**/.vs/
**/obj/
**/bin/
**/DLLFiles/
**/obj/
**/bin/
**/Logs/
**/Properties/licenses.licx
**/Properties/licenses.licx.bak
**/.suo
**/.svn/
**/*.csproj.user
**/node_modules/
**/dist/

**/*-lock.json

**/target/
**/*.iml

*.msi

*.user

**/packages

**/licenses.licx

**/x64/
**/x86/

**/CommonLibs/
**/DeviceLibs/
**/ChannelLibs/
**/ServiceLibs/
**/ServerLibs/
ForUsLab/Rev00/Server/FLabServer/ScriptTags

ForUsLab/Rev00/Server/FLabServer/ScriptTags_1

ForUsLab/Rev00/Server/FLabServer/ScriptTags_2
